
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    font-family: "Cabin", sans-serif;
}

:root {
    --text-color: #ededed;
    --main-second-color: #ff4800;
    --bg: #000000;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100dvh;
    background-position: center;
    z-index: -1;
}

section{
    min-height: 100vh;
    width: 100%;
    padding: 110px 40px;
}

body{
    overflow-x: hidden;
}

header{
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(4px);
    padding: 5px 40px;
    z-index: 10;
    transition: .3s;
}

header.ativo{
    background: black;
    transition: .3s;
}

header img{
    width: 70px;
    height: 70px;
}

nav{
    display: flex;
    align-items: center;
}

nav a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: .3s;
}

nav a:first-child{
    padding: 9px 15px;
    border: 1px solid white;
    border-radius: 10px;
}

nav a:hover{
    color: var(--main-second-color)
}

nav a.ativo{
    transition: .3s;
    color: var(--main-second-color);
    transform: scale(1.1);
}

nav a.ativo:first-child{
    border: 1px solid var(--main-second-color);
}

nav a i{
    margin-right: 5px;
}

.login a{
    font-size: 17px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.login a:hover{
    color: var(--main-second-color);
}

.login a:last-child{
    background: #161616;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .3s;
}

.login a:hover:last-child {
    background: #1f1f1f;
}

#inicio{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right,#080808ec, transparent);
    z-index: 10;
}

.content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.title{
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
}

.title h1{
    font-size: 45px;
    color: #ffffffee;
}

.title h3{
    font-size: 25px;
    color: #ffffffb9;
}

.icones{
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
}

.icones a{
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.icones a img{
    width: 200px;
    margin-left: -10px;
    transition: .3s;
    cursor: pointer;
}

.icones a img:hover {
    transform: scale(1.1);
}

.datas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    margin-top: 70px;
    
}

.lugar{
    position: relative;
    display: flex;
    align-items: center;
}

.lugar i{
    position: absolute;
    margin-left: 10px;
}

.lugar input{
    height: 50px;
    width: 98%;
    padding: 5px 35px;
    border-radius: 8px;
    border: none;
}

.lugar input::placeholder{
    font-size: 17px;
}

.ida input{
    height: 50px;
    width: 98%;
    padding: 5px 25px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
}

.ida, .lugar{
    width: 100%;
}

.ida{
    margin-top: -20px;
}

.ida span{
    color: #ffffffd2;
}

.datas button{
    width: 30%;
    height: 50px;
    font-size: 17px;
    background: var(--main-second-color);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.datas button:hover{
    background: #ff7139;
}

#services{
    background: #080808;
}

#services h1{
    font-size: 34px;
    text-align: center;
    color: white;
}

.paises{
    width: 100%;
    height: 280px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    width: 200px;
    border-radius: 10px;
}

.card h3{
    color: white;
    margin: 10px 0;
}

.card button{
    width: 90%;
    height: 40px;
    background: var(--main-second-color);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    transition: .3s;
}

.card:nth-child(2), .card:nth-child(4){
    margin-top: 100px;
}

.card button:hover{
    background: #fd6e36;
}

.descricao{
    width: 100%;
    display: flex;
    margin-top: 200px;
    border-top: 1px solid #ffffff1e;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff1e;
}

.title-des{
    width: 500px;
}

.title-des h2{
    font-size: 40px;
    color: white;
}

.descricao-one{
    width: 20%;
    margin: 0 auto;
}

.descricao-one i{
    font-size: 25px;
    color: #ff8d60;
}

.descricao-one h3{
    color: #ff8d60;
    margin: 10px 0;
}

.descricao-one p{
    color: white;
}

.apartamentos{
    margin-top: 80px;
    margin-bottom: 100px;
}

.apartamentos h2{
    color: white;
}

.apartamentos h3{
    margin-top: 10px;
    color: #ffffff6e;
}

.apartamentos-content{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.apartamento-box{
    margin: 0 auto;
    background: #00000070;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.apartamento-box img{
    width: 250px;
    border-radius: 10px;
}

.apartamento-box h4{
    color: #ffffffee;
    margin: 5px 0;
}

.apartamento-box .rating{
    color: #ffffffaf;
    margin: 15px 0;
}

.apartamento-box .rating span{
    background: #0051ff;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}

.apartamento-box .local{
    color: #ffffffaf;
    margin: 5px 0;
}

.apartamento-box .local i{
    margin-right: 5px;
}

.apartamento-box .price{
    text-align: end;
    color: #ffffff6e;
    margin-top: 10px;
}

.apartamento-box .price strong{
    color: #ffffffea;
}

.sobre h2{
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

.sobre details{
    border: 1px solid #ffffff2d;
    padding: 30px 20px;
    background: #00000048;
}

.sobre details summary{
    color: white;
    cursor: pointer;
}

.sobre details p {
    color: #ffffff83;
    margin-top: 10px;
}

footer{
    background: #010101;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p{
    color: #ffffffbb;
    text-align: center;
}

footer i{
    background: var(--main-second-color);
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px;
}